.container.slp-mb-32
	.row.slp-my-48
		.col-md-10.slp-m-auto.md:slp-flex.slp-items-stretch.slp-justify-center.slp-float-none
			.col-md-6
				%img.slp-mb-32{src: partner.body_top_cta_img_2}
				%h3.slp-my-16.slp-text-xl.slp-font-normal.md:slp-text-xxl.sm:slp-text-center
					= partner.body_features_title
				%p.slp-text-base.slp-font-normal.sm:slp-text-center
					= partner.body_features_description
			.col-md-6.sm:slp-mt-24
				- partner.feature_items.each do |item|
					.feature-item.long-line.slp-p-32.slp-my-32.slp-relative.slp-shadow-lg.slp-rounded-md.slp-bg-white
						-# %img.icon.slp-absolute{src: "#{item.icon}"}
						.feature-item-block
							%h4.slp-mb-8.slp-text-md.slp-font-normal.md:slp-text-lg #{item.title} 
							%p.slp-text-base.slp-font-normal #{item.description}

